<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

    * {
        margin: 0px;
        padding: 0px;
        font-family: 'Roboto', sans-serif;
    }

    #header {
        text-align: center;
        margin: 10px;
    }

    /* index page styling */
    .box {
        width: 350px;
        margin: 100px auto;
        height: 550px;
        background: white;
        border-radius: 20px;
    }

    .box h1 {
        text-align: center;
        margin: 20px 10px;
    }

    .box form .labels {
        font-size: 20px;
        margin: 10px 0px;
    }

    .box form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .box form input {
        width: 80%;
        height: 20px;
        padding: 5px;
        border-radius: 20px;
        text-align: center;
        font-size: 18px;
        margin-bottom: 20px;
    }

    .box form button {
        width: 300px;
        padding: 7px 8px;
        border-radius: 20px;
        background: #030E81;
        color: white;
        font-size: 18px;
        transition: 0.5s ease;
    }

    .box form button:hover {
        cursor: pointer;
        color: #030E81;
        background: white;
    }

    body {
        background-image: url("images/blue-bg.jpg");
    }
</style>

<body>
    <div class="box">
        <img src="images/logo.png" style="height:50px;padding-left:35%;padding-top:5%"/>
        <form action="/signup" method="post"  enctype="multipart/form-data">
            <labe class="labels">Email</labe>
            <input type="email" name="email" placeholder="Email" required>
            <labe class="labels">Name</labe>
            <input type="text" name="name" placeholder="name" required>
            <labe class="labels">Password</labe>
            <input type="password" name="password" placeholder="Password" required>
            <input type="radio" id="Teacher" name="choice" value="teacher"><label for="Teacher">Teacher</label>
            <input type="radio" id="Student" name="choice" value="student" checked><label for="Student">Student</label>
            <button>Signup</button>
            {{#if messages.error}}
    <div style="text-align:center ;color:red;">{{messages.error}} </div>
    {{/if}}
        </form>
    </div>
</body>