<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
<style>
    .links:hover {
        color: #030E81;
        background-color: white;
    }

    .links a:hover {
        color: #030E81;
        background-color: white;
    }
</style>
<div class="nav">
    <a href="/"><img src="images/logo-light.png" class="small-logo" /></a>
    <ul>
        <li class="links bi bi-people-fill"><a href="/teams"> Classes </a></li>
        <li class="links bi bi-bookmark"><a href="/notices"> Notices </a></li>
        <li class="links bi bi-box-arrow-left"><a href="/logout"> Logout </a></li>
    </ul>
</div>